<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>STC: Insight into Python Coding</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
</head>

<body>
    <header>
        <h1>STC: Insight into Python Coding</h1>
    </header>

    <div class="content-container">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/STC.jpg') }}" alt="Saraswathi Thyagaraja College" class="image">
        </div>
        <nav>
            <ul>
                <li><a href="/upload_form">Automated Workers Incentive List</a></li>
                <li><a href="/web">Google Scholar Easy Search and Save</a></li>
            </ul>
        </nav>
    </div>
</body>

</html>

